<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chitter | Register</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div id="app">
  <h1>Register for Chitter</h1>
  <form id="new-user" action="/register" method="post">
    <input name="name" type="text" placeholder="Johny" />
    <input name="username" type="text" placeholder="bigBoyJohny" />
    <input name="email" type="text" placeholder="johny.big@bigboys.com" />
    <input name="password" type="password" placeholder="password" />
    <input type="submit" />
  </form>
</div>
</body>
</html>